.container{
  width: 100%;
  height: 100%;
  font-family: "Helvetica", Sans-Serif;
  background: #b0c4de

}
#holder{
  width: 85%;
  height: 100%;
  background: #f0fff0;
  margin: 0 auto;
}

#holder .topnav{
  background: #f0fff0;
}

#holder img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.topnav {
  width: fit-content;
  background-color: none;
  overflow: hidden;  
  margin: 0 auto;
  text-align:center;
  
}

.topnav ul{
  display: inline-block;
}

.topnav a {
  float: left;
  color: #696969;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #008080;
}

.topnav a.active {
  color: #b22222;
}
#border{
  height: 2px;
  background: black;  
  margin-bottom: 30px;
}

#holder content_container {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.content {
  display: inline-block;
  border: 0px;
  padding: 1rem 1rem;
  vertical-align: middle;
  width:45%;
}

.content img{
  width: 434px;
  height: 280px;
}

#about_stuff{
  text-align: center;
  width: auto
  margin: auto
}

#footer{
  width: 100%;
  color: black;
  text-align: center;
}
